*{
    margin: 0px;
    padding: 0px;


  }
  ::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }
  @font-face {
      font-family: "opereum";
      src: url("../Static/fonts/Demo_Fonts/Fontspring-DEMO-orpheuspro-regular.otf");
    }
    @font-face {
        font-family: "poppins";
        src: url("/Static/fonts/Poppins-Black.ttf");
      }
  .navbar_css{
      display: flex;
        background-color: black;
    }
    .image_container{
      background-color: black;
    }
    
    img{
        width: 8em;
        height: 8em;
        padding: 0px 0px 0px 1em;
    
    }
    
    body {
      animation: fadein 2s;
    }
    
    @keyframes fadein {
      from { opacity: 0}
      to   { opacity: 1}
    }
    
    .imglinks{
        text-decoration: none;
        position: relative;
        display: inline-block;
    }
    
    
    .links{
        text-decoration: none;
        color: white;
        position: relative;
    
    }
    .links:hover::after{
        content: "";
        position: absolute;
        left: 25%;
        right: 25%;
        bottom: 2%;
    
    
    }
    .links::before {
        content: '';
        position: absolute;
        width: 100%;
        height: 4px;
        border-radius: 3px;
        background-color: white;
        bottom: -5px;
        left: 0;
        transform-origin: right;
        transform: scaleX(0);
        transition: transform .3s ease-in-out;
      }
    
    .links:hover::before {
      transform-origin: left;
      transform: scaleX(1);
    }
    .contact-right {
        display: flex;
        justify-content: flex-end;
        gap: 33em;
        align-items: center;
    }
    .links:hover::before {
      transform-origin: left;
      transform: scaleX(1);
    }
    .listitem{
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 5em;
        gap: 5em;
        list-style-type: none;
        font-family:"Poppins";
    }

   li{
        font-weight: 100;
    }
  
   
.job-card {
    width: 70%;
    margin: 50px auto;
    border-radius: 15px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    background-color: white;
}

.job-info {
    padding: 20px;
}

.job-info h2 {
    
    margin-bottom: 6px;
    font-family: "poppins";
}

.job-info hr {
    border: 0;
    border-top: 1px solid #ccc;
    margin-bottom: 20px;
}

.job-info p {
  
    margin-bottom: 15px;
    font-family: "poppins";
}

.job-info ul {
  font-family: "poppins";
    margin-top: 5px;
    padding-left: 40px;
    margin-bottom: 20px;
}

.apply-btn {
    padding: 10px 20px;
    background-color: #4285f4;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.apply-btn:hover {
    background-color: #3366cc;
}  
hr{
    margin-top: 40px;
    width: 90%;
    margin-left:1.3em;
  }
  .gmail{
    margin-top: 65px;
    margin-left: 6px;
    font-size: 10px;
    color: #e1a87a;
  }
  
  .gmail:hover{
    color: white;
    transition: 0.30s;
  }
  
  .footer img{
    padding: 0px;
    padding-top: 28px;
    width:5em;
    height: 5em;
    margin-left: 4em;
  }
  .footer .row{
  
    display: inline;
    width:40px;
    margin:2% 0%;
    margin-left: 5.6em;
    padding:3%  0% 2% 0% ;
    color:gray;
    font-size:0.8em;
    }
  
    .footer .row a{
    margin: 0px 20px 1px 5px;
    text-decoration:none;
    color:#e1a87a;
    transition:0.5s;
    }
  
  
    .footer{
      background-color: black;
    text-align:left;
    padding:5%;
    }
    .footer .row ul li{
    display:block;
  
    text-align:left;
    }
    .footer .row a i{
    margin:0% 6% 20%;
    }
  