*{
  margin: 0px;
  padding: 0px;
  
}
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}
@font-face {
    font-family: "opereum";
    src: url("../Static/fonts/Demo_Fonts/Fontspring-DEMO-orpheuspro-regular.otf");
  }
.navbar{
    display: flex;
  
  }
  .image_container{
    background-color: black;
  }
  
  img{
      width: 8em;
      height: 8em;
      padding: 0px 0px 0px 1em;
  
  }
  
  body {
    animation: fadein 2s;
  }
  
  @keyframes fadein {
    from { opacity: 0}
    to   { opacity: 1}
  }
  
  .imglinks{
      text-decoration: none;
      position: relative;
      display: inline-block;
  }
  
  #menu-items.active {
    display: flex;
  }
  
  .links{
      text-decoration: none;
      color: white;
      position: relative;
  
  }
  .links:hover::after{
      content: "";
      position: absolute;
      left: 25%;
      right: 25%;
      bottom: 2%;
  
  
  }
  .links::before {
      content: '';
      position: absolute;
      width: 100%;
      height: 4px;
      border-radius: 3px;
      background-color: white;
      bottom: -5px;
      left: 0;
      transform-origin: right;
      transform: scaleX(0);
      transition: transform .3s ease-in-out;
    }
  
  .links:hover::before {
    transform-origin: left;
    transform: scaleX(1);
  }
  .contact-right {
    display: flex;
  justify-content: flex-end;
  gap: 33em;
  align-items: center;
  }
  .links:hover::before {
    transform-origin: left;
    transform: scaleX(1);
  }
  .listitem{
      color: white;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-left: 5em;
      gap: 5em;
      list-style-type: none;
      font-family:"poppins";
  
  }
.courseimg{
 
  width: 90%;
  height: 84%;
}
.course_container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  background-color: #f3f0f0 ;

}

#myBtn:hover {
  background-color: blue; /* Add a dark-grey background on hover */
}
p{
  font-family: "poppins";
  width: 70%;
  font-weight: 900;
  font-size:20px;
  letter-spacing: 2px;
  display: flex;
  
}
.para_tag{

  margin-top: 40px;
  padding-bottom: 50px;
}

.coursespara{
 
  color:black;
  margin-top: 4em;
}
.hrrule{
  opacity: 40%;
  width:90%;
  margin-top: 10em;
  margin-left: auto;
  margin-right: auto;
}

.footer{
  background:black;;
  text-align:center;
  display: flex;
  justify-content: space-between;
  align-content: center;
  align-items: center;
  
  
  }
  .footer img{
    padding: 0px;
    width: 10em;
    height: 10em;
    
  }
  .gmail{
    margin-top: 30px;
    margin-left: 90px;
    font-size: 20px;
    color: #e1a87a;
    text-align: center;
  }
  .maildiv{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .gmail:hover{
    color: white;
    transition: 0.30s;
  }

  .footer .row{

  display: inline-flex;
  width:400px;
  margin:6% 0%;

  padding:2%  0% ;
  color:gray;
  font-size:0.8em;
  }

  .footer .row a{
  margin: 0px 20px 10px 20px;
  text-decoration:none;
  color:#e1a87a;
  transition:0.5s;
  }

  .footer .row a:hover{
  color:#fff;
  }


  .footer .row a i{
  font-size:2em;
  margin:0% 1%;
  }
  @media only screen and (max-width: 600px) {

    * {
      margin: 0px;
      padding: 0px;
   
    }
  
    .navbar {
      display: flex;
      margin-left: 7.3em;
      gap:5em;
      
    }
    
    img {
      margin-top: 1em;
      width: 8em;
      height: 8em;
      padding: 0px 0px 0px 1em;
    }
    .menu-icon {
      margin-top: 1em;
      display: block;
      color: white;
    }
    
    #menu-items {
      background-color: black ;
      display: none;
      position: absolute;
      top: 60px;
      right: 0;
      width: 100%;
    
      z-index: 998;
      text-align: center; /* Ensures items are centered */
    }
    
    #menu-items.active {
      margin-top: 0px;
      display: block;
    }
    
    #menu-items ul {
      display: block;
      padding: 0;
      margin: 0;
    }
    
    #menu-items li {
      display: block;
      margin: 10px 0;
    }
    .image_container{
      background-color: black;
    }
    
    .courseimg{
      object-fit: contain;
    }
    p{
      font-family: "poppins";
      width: 70%;
      font-weight: 900;
      font-size:20px;
      letter-spacing: 2px;
      display: flex;
      
    }
    .para_tag{
      text-align: justify;
      margin-top: 40px;
      padding-bottom: 50px;
    }
    
    .coursespara{
      text-align: justify;
      color:black;
      margin-top: 4em;
    }
    .footer {
      background: black;
      text-align: center;
      padding: 20px;
      display: grid;
      margin-left: 1em;
      flex: 0%;
    }
    
    .footer img {
      padding-top: 10px;
      width: 80px;
      height: 80px;
      margin: 0 auto;
      display: block;
    }
    .gmail{
      margin-left: 1em;
    }
    #number_phone{
      margin-left: 0px;
    }
    .footer .row {
      display: flex;
      justify-content: center;
      color: gray;
      font-size: 10px;
      margin-left: 0.7em;
      margin-top: 10px;
      width: 100%;
    }
    
    .footer .row a {
      margin: 0 10px;
      text-decoration: none;
      
      color: #e1a87a;
      transition: 0.5s;
      
    }
    
    .footer .row a:hover {
      color: white;
    }
  }