*{
    margin:0px;
    padding:0px;
    background-color: black;

}
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}
@font-face {
    font-family: "cookie";
    src: url("C../Static/fonts/Cookie-Regular.ttf");
}
@font-face {
    font-family: "poppins";
    src: url("/Static/fonts/Poppins-Black.ttf");
  }
  @font-face {
    font-family: "tilitium";
    src: url("../Static/fonts/TitilliumWeb-Black.ttf");
  }
  @font-face {
    font-family: "opereum";
    src: url("../Static/fonts/Demo_Fonts/Fontspring-DEMO-orpheuspro-regular.otf");
  }
  @font-face {
    font-family: "Schweiz";
    src: url("../Static/fonts");
  }

.navbar{
 display: flex;

}
img{
    width: 8em;
    height: 8em;
    padding: 0px 0px 0px 1em;

}

body {
  animation: fadein 2s;
}

@keyframes fadein {
  from { opacity: 0}
  to   { opacity: 1}
}

.imglinks{
    text-decoration: none;
    position: relative;
    display: inline-block;
}

.contact-flex{
  display: flex;
  justify-content: flex-end;
}
.links{
    text-decoration: none;
    color: white;
    position: relative;

}
.links:hover::after{
    content: "";
    position: absolute;
    left: 25%;
    right: 25%;
    bottom: 2%;


}
.links::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 4px;
    border-radius: 3px;
    background-color: white;
    bottom: -5px;
    left: 0;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .3s ease-in-out;
  }
.contact-right {
  display: flex;
justify-content: flex-end;
gap: 33em;
align-items: center;
}
.links:hover::before {
  transform-origin: left;
  transform: scaleX(1);
}
.listitem{
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 5em;
    gap: 5em;
    list-style-type: none;
    font-family:"poppins";

}
.mainbody{
    color: white;
   justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 12em;
}
.mainbody h1{
    font-size: 3.3em;
    letter-spacing: 4px;
    font-family:"opereum";
    font-weight:400;
}
h2{
    margin-top: 30px;
    font-size:50px ;
    font-family: "poppins";
    font-weight:100;
    color: white;
}
h2 {
    --b: 0.1em;   /* the thickness of the line */
    --c: #e1a87a; /* the color */
    display: inline-block;
    color: white;
    padding-block: var(--b);
    background:
      linear-gradient(var(--c) 50%,#000 0) 0% calc(100% - var(--_p,0%))/100% 200%,
      linear-gradient(var(--c) 0 0) 0% var(--_p,0%)/var(--_p,0%) var(--b) no-repeat;
    -webkit-background-clip: text,padding-box;
            background-clip: text,padding-box;
    transition: .3s var(--_s,0s) linear,background-size .3s calc(.3s - var(--_s,0s));
  }
  h2:hover {
    color: #e1a87a;
    --_p: 100%;
    --_s: .3s;
  }
  marquee{
    margin-top: 7em;
    font-size: 2.5em;
  }
  .marqa{
  color: #e1a87a;;
    text-decoration: none;
  }
  .abouttitle{
    text-align: center;
    color: white;
    font-size: 2.5em;

    font-family: "opereum";
    letter-spacing: 2px;
  }
  .abouttitle h1{
    font-weight: 100;
  }
  .aboutbody{
    margin-top: 18em;
    color: white;
    display: grid;
    grid-template-columns: repeat(2, calc(50% - 15px));
    gap:0px;

    justify-content: space-around;
  }
  .vision h3{
    font-size: 3em;
    color: #e1a87a;
    display: flex;
    margin-left: 1.9em;
    letter-spacing: 4px;
    text-align: center;

    font-family: "opereum";
    font-weight: 100;
  }

  .vision p{
    margin-top: 30px;
    font-family: "poppins";
    font-size: 1.4em;
    margin-left: 4em;
    width:80%;
  }
  .expertise h3{
    font-size: 3em;
    color: #e1a87a;
    margin-left: 3.3em;
    letter-spacing: 4px;

    font-family: "opereum";
    font-weight: 100;

    }

  .expertise p{
    margin-top: 30px;
    margin-left: 7em;
    font-family: "poppins";
    font-size: 1.4em;
    width: 70%;
  }
  .whyus{
    text-align: center;
    color: white;
    font-size: 2.5em;
    margin-top: 5em;

    font-family: "opereum";
    letter-spacing: 2px;
  }
  .whyus h1{
    font-weight: 100;
    color: #e1a87a;
  }
  .whyus p{
    text-align: left;
    font-size: 20px;
    margin-top: 5em;
    width: 67%;
   margin-left: auto;
   font-family: "poppins";
   margin-right: auto;
  }


.whatwedo{
   display: flex;
    flex-direction: column;
    color: white;
    font-size: 2em;
    margin-top: 6em;
    margin-left: auto;
    font-family: "opereum";
    letter-spacing: 2px;
}

.whatwedo h1{
  color: #e1a87a;
  margin-left: auto;
  margin-right: auto;
  font-weight: 100;
}
.whatwedo ul{
  margin: 0px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  margin-top: 3em;
  margin-left: auto;
  margin-right: auto;

  font-family: "poppins";
  list-style-type: disc;
}
hr{
  opacity: 40%;
  width:90%;
  margin-top: 10em;
  margin-left: auto;
  margin-right: auto;
}

.footer{
  background:black;;
  text-align:center;
  display: flex;
  justify-content: space-between;
  align-content: center;
  align-items: center;
  margin-left: 4em;
  
  }
  .footer img{
    padding: 0px;
    width: 10em;
    height: 10em;
    
  }
  .gmail{
    margin-top: 120px;
    margin-left: 90px;
    font-size: 20px;
    color: #e1a87a;
    text-align: center;
  }
  .maildiv{
    align-items: center;
  }

  .gmail:hover{
    color: white;
    transition: 0.30s;
  }

  .footer .row{

  display: inline-flex;
  width:400px;
  margin:6% 0%;

  padding:2%  0% ;
  color:gray;
  font-size:0.8em;
  }

  .footer .row a{
  margin: 0px 20px 10px 20px;
  text-decoration:none;
  color:#e1a87a;
  transition:0.5s;
  }

  .footer .row a:hover{
  color:#fff;
  }


  .footer .row a i{
  font-size:2em;
  margin:0% 1%;
  }

  @media (max-width:720px){
    *{
      overflow-x: hidden;
    }

    img{
      padding: 0px;
    }
    .navbar{
      margin-top: 10px;
      margin-left: 0px;
    }
    .links{
      text-decoration: none;
      color: white;
      position: relative;

  }
  .links:hover::after{
      content: "";
      position: absolute;
      left: 5%;
      right: 5%;
      bottom: 2%;


  }
  .links::before {
      content: '';
      position: absolute;
      width: 100%;
      height: 4px;
      border-radius: 3px;
      background-color: white;
      bottom: -5px;
      left: 0;
      transform-origin: right;
      transform: scaleX(0);
      transition: transform .3s ease-in-out;
    }

  .links:hover::before {
    transform-origin: left;
    transform: scaleX(1);
  }
  .navbarul{
      color: white;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-left: 3em;
      font-size: 9px;
      gap: 9em;
      list-style-type: none;
      font-family:"poppins";

  }
  .mainbody{
    color: white;
   justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 7em;
}
.mainbody h1{
    font-size: 2.5em;
    letter-spacing: 0px;
    font-family:"opereum";
    float:none;
   width: 11em;
   text-align: center;
  font-weight:400;
}
h2{
  margin-top: 30px;
  font-size:1em ;
  font-family: "poppins";
  font-weight:100;
  width: 27em;
  margin-left:em;
  color: white;
}
h2 {
  --b: 0.1em;   /* the thickness of the line */
  --c: #e1a87a; /* the color */
  display: inline-block;
  color: white;
  padding-block: var(--b);
  background:
    linear-gradient(var(--c) 50%,#000 0) 0% calc(100% - var(--_p,0%))/100% 200%,
    linear-gradient(var(--c) 0 0) 0% var(--_p,0%)/var(--_p,0%) var(--b) no-repeat;
  -webkit-background-clip: text,padding-box;
          background-clip: text,padding-box;
  transition: .3s var(--_s,0s) linear,background-size .3s calc(.3s - var(--_s,0s));
}
h2:hover {
  color: #e1a87a;
  --_p: 100%;
  --_s: .3s;
}
.about{
  margin-top: 8em;
}
.abouttitle{
  text-align: center;
  color: white;
  font-size: 1.3em;
  width: 20em;
  font-family: "opereum";
  letter-spacing: 2px;
}
.abouttitle h1{
  font-weight: 100;
}
.aboutbody{
  margin-top: 5em;
  color: white;
  display: flex;
  flex-direction: column;

  justify-content: space-between;
}
.vision h3{
  font-size: 2.3em;
  color: #e1a87a;
  text-align: center;
  width: 11.5em;
  font-family: "opereum";
  font-weight: 100;
}

.vision p{
  margin-top: 30px;
  font-family: "poppins";
  font-size: 0.9em;
  margin-left: 4.4em;
  width: 80%;
}
.expertise h3{
  font-size: 1.9em;
  color: #e1a87a;
  width: 14em;
  text-align: center;
  font-family: "opereum";
  font-weight: 100;
}

.expertise p{
  margin-top: 30px;
  font-family: "poppins";
  font-size: 0.9em;
  margin-left: 4.4em;
  width: 80%;
}
/* .projects{
  margin-top: 10em;
}
.projheader{
  text-align: center;
  margin-left: 0.8em;


}
.projects h1{
 color: white;
  text-align: center;
  font-size: 3.3em;
  font-weight: 100;
  font-family: "opereum";
  letter-spacing: 2px;
;
}
.inno{
  margin-top: 50px;
  display: flex;
  flex-direction: column;
}
.projects img{
  margin-top: 1em;
  width: 10em;
  height: 10em;
  margin-left: 8.3em;
  margin-bottom: 50px;
}
.projtext{
padding-top: 0.1em;
margin-left: 5em;

}
.projtext h1{
font-size: 1.7em;
font-family: "opereum";
text-align: left;
margin-left: 1.5em;
width: 7em;
color: #e1a87a;
}
.projword{
  width: 80%;
  margin-left: 15px;
  padding-top: 20px;
  text-align: left;
  color: white;
  font-size: 0.7em;
  font-family: "Poppins";
  font-weight: 300;
  font-style: normal;
  letter-spacing: .02em;
  line-height: 1.8;
}
.projtext button{
  color: white;
  margin-top: 27px;
  margin-left: 3em;
  border-style: none;
  width: 50%;
  font-size: 0.9em;
  padding: 10px 30px 10px 30px;
  border: 2px solid #e1a87a;
  cursor: pointer;
}
.projtext button:hover,
.projtext button:focus {
box-shadow: inset 0 -5.2em 0 0 #e1a87a;
transition: 0.49s;
}
.inno2{
display: flex;
margin-right: 4em;
flex-direction: column;
}
.inno2 img{
  margin-top: 1em;
  width: 10em;
  height: 10em;
  margin-top: 8em;
  margin-left: 7.8em;
  margin-bottom: 50px;

}
.inno2 h1{
font-size:1em;

}
.inno2 p{
  width: 100%;
  margin-left: 35px;
  padding-top: 20px;
  text-align: left;
  color: white;
  font-size: 0.7em;
  font-family: "Poppins";
  font-weight: 300;
  font-style: normal;
  letter-spacing: .02em;
  line-height: 1.8;
}
.inno2 button{
margin-top: 27px;
margin-left: 1em;
}
.projtext2{
padding-top: 0em;
margin-left: 4em;

}
.projtext2 h1{
  font-size: 2em;
  font-family: "opereum";
  text-align: center;
  width: 10em;
  color: #e1a87a;
}
.projword2{

  margin-left: 1em;
  padding-top: 40px;
  width: 80%;
  text-align: left;
  color: white;
  font-size: 1em;
  font-family: "Poppins";
  font-weight: 300;
  font-style: normal;
  letter-spacing: .02em;
  line-height: 1.8;
}
.projtext2 button{
  color: white;
  margin-top: 35px;
  margin-left: 5em;
  border-style: none;
  padding: 10px 30px 10px 30px;
  border: 2px solid #e1a87a;
  cursor: pointer;
}
.projtext2 button:hover,
.projtext2 button:focus {
box-shadow: inset 0 -5.2em 0 0 #e1a87a;
transition: 0.49s;
} */
hr{
  margin-top: 40px;
  width: 90%;
  margin-left:1.3em;
}
.gmail{
  margin-top: 65px;
  margin-left: 6px;
  font-size: 10px;
  color: #e1a87a;
}

.gmail:hover{
  color: white;
  transition: 0.30s;
}

.footer img{
  padding: 0px;
  padding-top: 28px;
  width:5em;
  height: 5em;
  margin-left: 4em;
}
.footer .row{

  display: inline;
  width:40px;
  margin:2% 0%;
  margin-left: 5.6em;
  padding:3%  0% 2% 0% ;
  color:gray;
  font-size:0.8em;
  }

  .footer .row a{
  margin: 0px 20px 1px 5px;
  text-decoration:none;
  color:#e1a87a;
  transition:0.5s;
  }


  .footer{
  text-align:left;
  padding:5%;
  }
  .footer .row ul li{
  display:block;

  text-align:left;
  }
  .footer .row a i{
  margin:0% 6% 20%;
  }
  }
  .aboutpageover{
    display: flex;
    flex-direction: column;
    color: white;

  }
.aboutpageover h1{
  font-size: 2.5em;
  margin: 2em 0em 0em 1.2em;
  color: #e1a87a;
  font-family: "opereum";
  letter-spacing: 2px;
  font-weight: 100;

}
.aboutpageover p{
  width: 90%;
  margin-top: 1.7em;
  margin-left: 3em;
  font-size: 1.4em;
  font-family: "poppins";
}
.tradingjourney{
  display: flex;
  justify-content: center;
    flex-direction: column;
    color: white;
    font-size: 2e m;
    margin-top: 4em;
    margin-left: auto;
    font-family: "opereum";
    letter-spacing: 2px;
}
.tradingjourney h1{
  font-size: 2.5em;
  margin: 1em 0em 0em 1.2em;
  color: #e1a87a;
  font-family: "opereum";
  letter-spacing: 5px;
  font-weight: 100;
}
.tradingjourney p{
  width: 90%;
  margin-top: 3em;
  margin-left: 4.8em;
  font-size: 1em;
  font-family: "poppins";
}
.meetteam h1{
  font-size: 3em;
  display: flex;
  margin-top: 2em;
  justify-content: center;
  color: #e1a87a;
  font-family: "opereum";
  letter-spacing: 5px;
  font-weight: 100;
}
@import url("https://fonts.googleapis.com/css2?family=Baloo+Paaji+2:wght@400;500&display=swap");

.container {
  display: grid;
  grid-template-columns: 300px 300px 300px;
  grid-gap: 10px;
  justify-content: space-around;
  align-items: center;
 margin-top: 7em;

  font-family: "poppins"
}

.card {
  background-color: #1e1e1e;
  margin-left: 1em;
  border-radius: 5px;
  display: flex;
  flex-direction: column;

  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.7);
  color: white;
}

.card__name {
  background-color:#1e1e1e ;
  margin-top: 15px;
  font-size: 1.5em;
}

.card__image {
  height: 160px;
  width: 160px;
  border-radius: 50%;
  border: 5px solid ;
  margin-top: 20px;

}




.btn {
  background: none;
  border: none;
  cursor: pointer;
  line-height: 1.5;
  font: 700 1.2rem 'Roboto Slab', sans-serif;
  padding: 0.75em 2em;
  letter-spacing: 0.05rem;
  margin: 1em;
  width: 13rem;
}

.btn:focus {
  outline: 2px dotted #55d7dc;
}


.social-icons {
  padding: 10px;
  list-style: none;
  margin: 1em;
  background-color: #1e1e1e;
}

.social-icons li {
  display: inline-block;
  margin: 0.15em;
  position: relative;
  font-size: 1em;
  background-color: #1e1e1e;

}

.social-icons i {
  color: #fff;
  position: absolute;
  top: 0.95em;
  left: 0.96em;
  transition: all 265ms ease-out;
  background-color: #1e1e1e;
}

.social-icons a {
  display: inline-block;
  background-color: #1e1e1e;
}

.social-icons a:before {
  transform: scale(1);
  -ms-transform: scale(1);
  -webkit-transform: scale(1);
  content: " ";
  width: 45px;
  height: 45px;
  border-radius: 100%;
  display: block;

  transition: all 265ms ease-out;
}

.social-icons a:hover:before {
  transform: scale(0);
  transition: all 265ms ease-in;
}

.social-icons a:hover i {
  transform: scale(2.2);
  -ms-transform: scale(2.2);
  -webkit-transform: scale(2.2);
  color: #ff003c;
  background: -webkit-linear-gradient(45deg, #ff003c, #c648c8);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: all 265ms ease-in;
}
.grid-child-posts{
  background-color: #1e1e1e ;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
  font-size: 1.2em;
}
 
.insight_header{
    color:white;
    font-family: "poppins";
    width: 80%;
    font-size: 2em;
    
}
.insight_container{
    display: flex;
    justify-content: center;
    margin-top: 5em;
    margin-bottom: 10em;
}

